@import '../variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  @media screen and (max-width: 650px) {
    padding: 20px 0;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 992px) {
      flex-direction: column;
      align-items: center;
    }

    @media screen and (max-width: 650px) {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }

  .header__left-container {
    display: flex;
    gap: 50px;
    align-items: center;

    @media screen and (max-width: 992px) {
      gap: 20px;
      flex-direction: column;
    }
  }

  &__logo {
    display: flex;

    img {
      margin-right: 15px;

      @media screen and (max-width: 650px) {
        width: 30px;
      }
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;

      @media screen and (max-width: 650px) {
        font-size: 20px;
      }
    }

    p {
      color: #7b7b7b;

      @media screen and (max-width: 650px) {
        font-size: 15px;
      }
    }
  }

  &__cart {
    margin-left: 20px;

    @media screen and (max-width: 992px) {
      margin-left: 0px;
      margin-top: 20px;
    }

    @media screen and (max-width: 650px) {
      margin-top: 0px;
    }
  }
}
