.form {
  position: relative;

  &__field {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 40px;
    width: 400px; /* Устанавливаем начальную ширину в 400px */
    max-width: 100%; /* Убираем максимальную ширину */
    border-radius: 10px;
    font-size: 16px;
    transition: all 0.15s ease-in-out;

    @media screen and (max-width: 500px) {
      max-width: 320px;
    }

    @media screen and (max-width: 380px) {
      max-width: 280px;
    }

    &:focus {
      border: 1px solid rgba(0, 0, 0, 0.4);
    }
  }

  &__search-icon {
    height: 22px;
    width: 22px;
    position: absolute;
    left: 10px;
    top: 13px;
    opacity: 0.5;
  }

  &__clear-button {
    height: 22px;
    width: 22px;
    opacity: 0.3;
    position: absolute;
    right: 15px;
    top: 12px;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    transition: all 0.15s ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }
}
